#button{
font-family: fantasy;
color: maroon;
font-size: 40px;
background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}
#section-style{


}
#picture{
height: 100px;
width: 100px;
}
.section-header{
font-size: 35px;


}
.top-title{
font-family: sans-serif;
color: black;
font-size: 30px;

}
